/*Import google font - Poppins*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;    
}

body {
    width: 100%;
    min-height: 100vh;
    background: white;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #609cfc;
    padding: 25px 20px;
    transition: all 0.4s ease;
}

.sidebar:hover {
    width: 290px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-header img{
    width: 100px;
    opacity: 0;
}

.sidebar-header h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    margin-left: 20px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links h4 span {
    opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
    opacity: 1;
}

.sidebar:hover .sidebar-header img {
    opacity: 1;
}

.sidebar-links h4{
    color: #fff;
    font-weight: 500;
    margin: 10px;
    white-space: nowrap;
    position: relative;
}

.sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: scaleY(-50%);
    background: #333578;
    transform-origin: right;
    transition-duration: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-links li a{
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #ebe4e4e3;
    font-weight: 500;
    padding: 15px 10px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-links li a:hover{
    background: #ffffff2d;
    color: #fff;
    border-radius: 4px;
}

.user-account {
    margin-top: auto;
    padding: 12px 10px;
    margin-left: -10px;
    background: #ffffff2d;
    border-radius: 4px;
}

.user-account .user-profile {
    display: flex;
    align-items: center;
    color: #e5dede;
}

.user-detail {
    margin-left: 23px;
    white-space: nowrap;
}

.user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
}

.user-profile span {
    font-size: 0.775rem;
    font-weight: 500;
    display: block;
    margin-top: 0;
}

.navbar {
    background-color: #609cfc;
    color: white;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    font-size: 12px;
    width: 50%;
    margin: 0 auto;
}

.navbar-brand img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.navbar-brand h1{
    text-align: center;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -18%;
    font-size: 16px;
}

.menu-content {
    //display: flex;
    align-items: center;
    gap: 10px;
}

.logout {
    cursor: pointer;
}

/*.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: 1px solid;
}*/

.dropdown {
    margin-top: 5%;
    margin-left: 18%;
    width: 155px;
    background-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    padding: 8px;
    color: #ddd;
    border-radius: 6px;
    cursor: pointer;
}
  
  .dropdown-menu {
    margin-left: -5%;
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #fff;
    min-width: 220px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 1100 !important;
    padding: 10px;
    border-radius: 4px;
  }

  .dropdown:hover .dropdown-menu{
    display: block;
  }
  
  /* Style the list of options */
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu ul li {
    padding: 8px 10px;
  }
  
  .dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu ul li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Style the footer with buttons */
  .dropdown-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  .dropdown-footer .btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .dropdown-footer .btn-primary {
    background-color: #007bff;
    color: #fff;
  }

  .dropdown-footer .btn-primary:hover {
    background-color: #106aca;
    color: #fff;
  }
  
  .dropdown-footer .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }