body {
    margin-left: 100px;
    //margin: 0;
    //height: 100vh; /* Ensure the body spans the full height of the viewport */
    display: flex; /* Use Flexbox to align items */
    justify-content: left; /* Horizontally center content */
    //align-items: center; /* Vertically center content */
    flex-direction: column;
}

.permissions-container a{
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #ebe4e4e3;
  font-weight: 500;
  padding: 15px 10px;
  white-space: nowrap;
  text-decoration: none;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
    justify-content: left;
    list-style-type: none;
}

.links li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

.permissions-container {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
  }
  
  .permissions-container .title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    background-color: #7bb6f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-color: rgb(202, 194, 194);
    padding: 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }

  .permissions-container .title:hover {
    background-color: #007bff;
  }

  .lab_info {
    justify-content: start;
  }

  .lab_info h3 {
    margin-bottom: -16px;
  }

  .attendance-list {
    margin: 20px;
    font-size: 15px;
}
  
table {
    width: 100%;
    border-collapse: separate;
    //border-radius: 2px;
    border-spacing: 0 10px;
}
  

.attendance-list th,
.attendance-list td {
  font-size: 12px;
  padding: 15px 20px; /* Consistent padding for headers and cells */
  text-align: left; /* Align text consistently */
}

.attendance-list th {
  background-color: #f4f4f4;
  font-size: 16px;
}

.oval-row {
  background-color: #e6f7ff;
  border-radius: 25px; 
  overflow: hidden; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: table-row; 
  //justify-conte;
  margin-bottom: 17px;
}

.oval-row td {
  border: none;
  font-size: 17px;
}

.dropdown {
  display: inline-block;
  position: relative;
  //flex-direction: row;
  padding: 10px;
  align-self: center;
  margin-top: -200px;
  margin-left: 50px;
  z-index: 10;
}

.dropdown select {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown select option {
  display: block;
  color: #fff;
  background-color: #3498db;
  padding: 5px;
  text-decoration: none;
}

.dropdown select option:hover {
  color: #FFFFFF;
  background-color: #2980b9;
}

.radio-button {
  margin: 3px;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.radio-button input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-button label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-size: 14px;
  border: 2px solid #444;
  border-radius: 4px;
}

.radio-button label:hover {
  background-color: #dfd;
}

.radio-button input[type="radio"]:focus+label {
  border: 2px dashed #444;
}

.radio-button input[type="radio"]:checked+label {
  background-color: #bfb;
  border-color: #4c4;
}

button{
  display: inline-flex;
  background-color: #3498db;
  color: #fff;
  margin: 0px 5px;
  border: none;
  padding: 10px 12px; 
  font-size: 14px;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #444 solid;
}

button:hover {
  background-color: #2980b9;
}

.submitChangeButton {
  display: none;
  background-color: #3498db;
  color: #fff;
  margin: 0px 5px;
  border: none;
  padding: 6px 8px; 
  font-size: 14px;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #444 solid;
}

.deleteLabSession_button {
  display: none;
  background-color: red;
  border: none;
  padding: 6px 8px; 
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #444 solid;
}

.deleteLabSession_button:hover {
  background-color: darkred;
}

.slider-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.slider-container button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  position: relative;
  color: black;
  font-weight: bold;
}

.slider-container button.active {
  font-weight: bold;
  color: blueviolet;
}

.slider {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 50%;
  background: #1976d2;
  transition: transform 0.3s ease;
}

.slider.general {
  transform: translateX(-50%);
}

.slider.specific {
  transform: translateX(50%);
}

.deleteStudentButton{
  background-color: red;
}

.deleteStudentButton:hover{
  background-color: darkred;
}

.vote-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 16px;
}
  
.vote-option {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.vote-option:hover {
  background-color: #7bb6f6;
}
  
.oval-legend {
  background-color: #f5aaf5;
  border-radius: 25px; 
  width: fit-content;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-bottom: 17px;
}

ul {
  list-style-type: none;
  padding: 0; 
  margin: 15px;
}

li {
  padding: 6px;
}